// Colors
$BACKGROUND_COLOR: black;

// Color Pallete
$SALMON_PINK: rgb(236, 77, 77);
$BLUE: rgb(4, 159, 231);
$LIGHT_BLUE: rgb(149, 222, 255);


// Colors by Functionality
$LINK_COLOR: $SALMON_PINK;
$HIGHLIGHT_COLOR: $LIGHT_BLUE;
